/* ============All============== */

* {
    color: #6A787B;
    box-sizing: border-box;
}

html {
    width: 100vw;
/*     margin: -40px 0; */
}
body {
    margin: 0;
}

/* ============Header============== */

header {
    background-image: url(../IMG/blog_header_bg.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
    margin-top: 40px;
    
}
h1 {
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: .1em;
    position: relative;
    top: 50%;
}
h2{
    font-family: 'Raleway'
    font-weight: 600;
}


/* ============Nav============== */

.nav {
    position: fixed;
    top: 0;
    background: whitesmoke;
    width: 100vw;
    z-index: 1;
}

#hamburger {
    display: none;
}

ul {
    margin: 0px;
    padding: 20px 0px 20px 0;
    width: 100vw;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

li a {
    color: #64A0AC;
    padding: 20px 96px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

/* ============Main============== */

.main_img {
    display: block;
    width: 100%;
}
main {
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin: 0 auto;
}
article {
    display: block;
    margin: 20px 2vw;
}
article.about{
    text-align: center;
}

aside{
    margin-top: 60px;
    width: 25%;
    display: block;
}

.about_img {
    display: block; 
    width: 90%;
    margin: 10px;
}

p {
    font-family: 'Lato';
    font-weight: 400;
    line-height: 1.618em;
    width: 100%;
}

h3{
    letter-spacing: .1em;
    font-family: 'Raleway'
    font-weight: 600;
}


/* ============About============== */
aside>h4{
    text-align: center;
}

ul.recent_issues {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    color: #7B98AA;
    font-weight: 500;
}

ul.recent_issues li{
    padding-top: 10px;
    letter-spacing: .1em;
    font-weight: bold;
    color: #7B98AA;
    margin-left: 2vw;
}

/* ============Contact============== */

h3.comment {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: normal

}
div.comment {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 60px;
}
h3.comment {
    text-align: center
}
div>textarea {
    border-style: none;
    background-color: white;
    border: 2px solid black;
    width: 96%;
    height: 22vh;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}
div>button {
    width: 96%;
    height: 6vh;
    border-style: none;
    background-color: white;
    border: 2px solid black;
    margin: 2% 0 2% 0;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}

div.comment>input.half {
    border-style: none;
    background-color: white;
    border: 2px solid black;
    width: 46%;
    height: 2vh;
    margin: 2% 2% 2% 2%;
}
/* ============Footer============== */

footer {
    height: 260px;
    background-color: #CDF3F6;
    display: flex;
    flex-direction: column;
}

h4 {
    font-family: 'Raleway'
    font-weight: 600;
    font-size: 18px;
}

ul.social {
    top: 18%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

ul.social li {
    font-family: 'Lato';
    padding: 0 20px;
    margin-top: 20px;
}

h5 {
    text-align: center;
    margin: 0;
    margin-top: 15px;

}
form {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.button {
    border: 2px solid black;
    background-color: #CDF3F6;
    padding: 12px 40px;
    margin: 15px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}
button:hover{
    background-color: darkgray;
    color: white;
}
input{
    border-style: none;
    background-color: white;
    padding: 12px 20px;
    margin: 15px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}

hr {
    border-top: 1px solid black;
}
/* ============Media Queries============== */

@media only screen and (max-width: 900px){
    ul{
        margin: 0px;
        padding: 20px 0px;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    li a {
        color: #64A0AC;
        padding: 20px 36px;
        text-decoration: none;
    }
}



@media only screen and (max-width: 600px) {
    div.comment>input.half { 
        width: 96%;
        height: 2vh;
        margin: 2% 0% 2% 0%;
    }

    main {
        display: block;
        width: 95vw;
        margin: 0 auto;
    }

    article {
        display: block;
        width: 90%;
    }

    aside{
        margin-top: 60px;
        width: 100%;
        display: block;
    }

    #hamburger {
        display: flex;
        justify-content: flex-end;
        
    }

    nav ul li a {
        display: none;
        

    }
    .main-nav ul li{
        display: none;
        
    }








}