/* ===============ALL================== */

* {
    color: #6A787B;
    box-sizing: border-box;
}

html {
    width: 100vw;
/*     margin: -40px 0; */
}
body {
    margin: 0;
}

/* ===============NAV================== */

.nav {
    position: fixed;
    top: 0;
    background: whitesmoke;
    width: 100vw;
    z-index: 1;
}

#hamburger {
    position: relative;
    top: -60px;
    z-index: 10;
    visibility: hidden;
    transition: all .7s ease-in-out;
    width: 5%;
}


ul {
    margin: 0px;
    padding: 20px 0px 20px 0;
    width: 100vw;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

li a {
    color: #64A0AC;
    padding: 20px 96px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

/* ===============HEADER================== */


header {
    background-image: url(../IMG/home_header_bg.jpg);
    height: 80vh;
    width: 100%;
    background-position: center;
    align-self: center;
    background-attachment: fixed;
    margin-top: -1.8em;
    
}
h1 {
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: .1em;
    position: relative;
    top: 40%;
}
header h2{
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: .1em;
    position: relative;
    top: 40%;
}

/* ===============MAIN================== */

main {
    width: 90vw;
    margin: 0 auto;
}


h3 {
    text-align: center;
    color: darkgrey;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
section {
    display: flex;
    flex-direction: row;
}

section article {
    display: flex;
    flex-direction: column;
    
}
img.article{
    height: 40%;
    align-self: center;
}

img.article:hover {
    opacity: .6;
}

section.archive article {
    width: 33%;
    padding: 1em;
    margin: 10px;
}

article>p {
    text-align: center;
    line-height: 1.618em;
    font-size: 14px;
    font-family: 'Lato'
}
article button {
    width: 60%;
    margin: 0 auto;
    padding: .5em;
    border-style: none;
    background-color: white;
    border: 2px solid black;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 600;
}

/* ===============GALLERY================== */

section.gallery {
    display: flex;
    flex-direction: row;
    width: 90vw;
}

div.gallery1 {
    display: block;
    width: 33%;
}
div.gallery2 {
    display: block;
    width: 33%;
}
div.gallery3 {
    display: block;
    width: 33%;
}

section.gallery img {
    padding: 1em;
}

div img {
    width: 100%
}

section.gallery img:hover {
    opacity: .6;

}
div.twenty {
    padding: 80px 0 20px 0;
}
div h3{
    font-weight: 700;
}
h4 {
    text-align: center;
    font-weight: normal;
}
/* ===============ABOUT================== */

article.about {
    background-color: #d9f1f4;
    padding: 6em 8em;
}
h2{
    color: black;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: .1em;
    top: 10%;
}
article.about h3 {
    text-align: center;
    color: black;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
}


/* ===============COMMENTS================== */

h3.comment {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: normal;


}
div.comment {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 60px;
}
h3.comment {
    text-align: center
}
div>textarea {
    border-style: none;
    background-color: white;
    border: 2px solid black;
    width: 96%;
    height: 22vh;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}
div>button {
    width: 96%;
    height: 6vh;
    border-style: none;
    background-color: white;
    border: 2px solid black;
    margin: 2% 0 2% 0;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}

div.comment>input.third {
    border-style: none;
    background-color: white;
    border: 2px solid black;
    width: 31%;
    height: 2vh;
    margin: .5em;
}
/* ============Footer============== */

footer {
    height: 260px;
    background-color: #CDF3F6;
    display: flex;
    flex-direction: column;
}

h4 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
}

ul.social {
    top: 18%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

ul.social li {
    font-family: 'Lato';
    padding: 0 20px;
    margin-top: 20px;
}

h5 {
    text-align: center;
    margin: 0;
    margin-top: 15px;

}
form {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.button {
    border: 2px solid black;
    background-color: #CDF3F6;
    padding: 10px 40px;
    margin: 15px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}
button:hover{
    background-color: darkgray;
    color: white;
}
input{
    border-style: none;
    background-color: white;
    padding: 10px 80px;
    margin: 15px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

hr {
    border-top: 1px solid black;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1000px){
    ul{
        margin: 0px;
        padding: 20px 0px;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    li a {
        color: #64A0AC;
        padding: 20px 36px;
        text-decoration: none;
    }
    
    
    section.archive {
        display: block;
        width: 100%;
    }
    
    section.archive article {
        width: 80%;
        margin: 0 auto;
        padding: 1em;
    }
    h3.comment {
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 20px;
        letter-spacing: normal;
    
    
    }
    div.comment {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
        margin-bottom: 60px;
    }
    h3.comment {
        text-align: center
    }
    div>textarea {
        border-style: none;
        background-color: white;
        border: 2px solid black;
        width: 96%;
        height: 22vh;
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 600;
    }
    div>button {
        width: 96%;
        height: 6vh;
        border-style: none;
        background-color: white;
        border: 2px solid black;
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 600;
    }
    
    div.comment>input.third {
        border-style: none;
        background-color: white;
        border: 2px solid black;
        width: 96%;
        height: 2vh;
        margin: 10px 0;
    }
    
}

@media only screen and (max-width: 600px) {
    #hamburger {
        position: fixed;
        top: 5px;
        left: 5px;
        visibility: visible;
        width: 5%;
    }

    nav {
        visibility: hidden;
    }

    nav ul li a {
        display: none;
    }
    
    .main-nav ul li{
        display: none;    
    }
    header {
        margin-top: -30px;
        position: relative;
    }




}